.items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.items-container .menu-item {
  list-style: none;
  text-align: center;
}

.items-container img {
  max-width: 200px;
}

.item__image {
  max-width: 300px;
}
